/*Broad Styling*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: orange;
    --secondary-color: #333333;
    --tertiary-color: white;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

section {
    padding: 60px;
}

/*----------------------------------------------------------*/

/*Style Header Section*/
header {
    font-family: 'Square Peg', cursive;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/dog-banner.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 50%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 5.00vw;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/*Header Section Styling Ends*/

/*----------------------------------------------------------*/

/*Style Footer Section*/
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}
/*Footer Section Styling Ends*/

/*----------------------------------------------------------*/

/*Style Hero Section*/
.hero {
    background-image: url("../images/dog-banner.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 50%;
    padding: 150px;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-family: 'Square Peg', cursive;
    font-style: italic;
    font-size: 6.00vw;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*Hero Section Styling Ends*/

/*----------------------------------------------------------*/

/*Style About Us Section*/
.section-title {
    font-family: 'Square Peg', cursive;
    font-weight: bold;
    font-size: 5.00vw;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
  
.primary-border {
    border-color: var(--primary-color);
}
  
.secondary-border {
    border-color: var(--tertiary-color);
}

.intro {
    background-color: var(--secondary-color);
}

.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.intro h2 {
    color: var(--primary-color);
}
/*End About Us Section Styling*/

/*----------------------------------------------------------*/

/* Style Map Section*/
.map{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*Map Styling Ends*/


/*Style Contact Us Section*/
.contact {
    background: var(--secondary-color)
}

.contact h2 {
    color: var(--primary-color);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info iframe {
    height: 400px;
    border: 0;
}

.contact-info div {
    color: white;
}

.contact-info h3 {
    font-size: 32px;
    color:var(--primary-color);
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-info a {
    color: var(--primary-color);
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1.0);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}
/*Styling of Contact Section Ends*/



.flex-row {
    display: flex;
}



/*Media Query for Smaller Desktop Screens and Smaller*/
@media screen and (max-width: 980px) {
   header {
       padding-bottom: 0;
       justify-content: center;
       position: relative;
   }

   header h1 {
       width: 100%;
       text-align: center;
   }

   header nav ul {
       margin-top: 20px;
       width: 100%;
       justify-content: center;
   }

   header nav ul li a {
       font-size: 20px;
   }

   footer h2, footer div {
       text-align: center;
       width: 100%;
   }

   .hero-cta, .hero-form {
       width: 100%;
   }

   .hero-cta {
       text-align: center;
   }

   .section-title {
       width: 80%;
   }

   .trainer {
       flex: 0 70%;
   }

   .contact-info iframe {
       flex: 1 100%;
   }
}

/*Media Query for Tablets and Smaller*/
@media screen and (max-width: 768px) {
   section {
       padding: 30px 15px;
   }

   .steps h3 {
       flex: 1 100%;
       text-align: center;
   }

   .step-info {
       flex: 2 100%;
       text-align: center;
       justify-content: center;
   }

   .step-img {
       flex: 0 32%;
       margin-right: 0;
       margin-top: 15px;
       margin-bottom: 15px;
   }

   .step-text {
       flex: 100%;
   }
}

/*Media Query for Mobile Phones and Smaller*/
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}