* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 20%;
    background-color: transparent;
}

.form-input{
    border: 1px solid;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 69%;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 100px;
    text-align: center;
}
.block-input {
    text-align: center;
}

header{
    padding: 20px 35px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 20vh;
    background-image: url("../images/pexels-olga-lukyanova-8904085.jpg");
    font-family: 'Square Peg', cursive;
    font-size: 8vh;
}

.title-zip{
    width: 55%;
    color: #fff;
    font-size: 18px;
    font-size: 11vh;
    font-family: 'Square Peg', cursive;
}
header ul a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

header ul a:hover {
    color:aliceblue
}

h1{
    font-family: 'Square Peg', cursive;
    font-weight: bold;
    align-items: center;
    padding-top: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
img{
    justify-content: center;
    width: 33%;
    padding: 10px 20px;
}
span .button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: auto;
}